@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Inconsolata-regular/Inconsolata-regular.eot');
  src: url('/fonts/Inconsolata-regular/Inconsolata-regular.eot?#iefix') format('embedded-opentype'),
       local('Inconsolata'),
       local('Inconsolata-regular'),
       url('/fonts/Inconsolata-regular/Inconsolata-regular.woff2') format('woff2'),
       url('/fonts/Inconsolata-regular/Inconsolata-regular.woff') format('woff'),
       url('/fonts/Inconsolata-regular/Inconsolata-regular.ttf') format('truetype'),
       url('/fonts/Inconsolata-regular/Inconsolata-regular.svg#Inconsolata') format('svg');
}

body {
  background-color: #F5F5F5;
  font-family: 'Inconsolata', sans-serif;
}

a, a * {
  text-decoration: none;
}

a:hover {
  background-color: #FFA500;
}

.header {
  padding: 2em;
  padding-bottom: 0;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
  text-decoration: underline;
}

.header .header-links {
  font-size: 1.5em;
}

#content {
  max-width: 920px;
  margin: auto;
  padding: 2.5em;
  padding-bottom: 0;
}

section {
  max-width: 780px;
  margin-bottom: 3.5em;
}

.project {
  padding: 1.5em 0;
  font-size: 1.3em;
  line-height: 1.3;
}

.word-block {
  display: inline-block;
}

.project-link {
  font-size: 1.4em;
}

.project-src {
  text-decoration: underline;
}

.note {
  text-transform: uppercase;
  font-size: .8em;
}

.filler {
  line-height: 1.3;
  font-size: 1.4em;
  width: 100%;
}

.filler h3 {
  font-size: 1.3em;
}

::selection, .night-mode, .night-mode a {
  color: #F5F5F5;
  background-color: #333333;
}

.night-mode a, .night-mode a * {
  text-decoration: underline;
}

.night-mode a:hover {
  background-color: #FFFFFF;
  color: #000000;
}
