html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0px;
  padding: 2px;
  font-family: helvetica;
}

h1, h2 {
	text-align: center;
	border: none;
}

aside, section {
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	font-size: 1em;
}

ul {
	list-style: none;
}

* {
	border: 1px solid black;
}

#frame {
	margin: 25px auto;
	border: 2px solid green;
	border-radius: 3px;
	max-width: 900px;
	min-width: 400px;
}

header{
	width: 100%;
	border: 2px solid red;
	background-color: blue
}

aside{
	width: 25%;
	float: left;
}

section{
	width: 72%;
	float: right;
}

footer {
	clear: both;
}

.btn {
	display: inline-block;
	border: 1px solid #cecfd5;
	border-radius: 5px;
	color: #0087cc;
	padding: 5px;
	text-decoration: none;
	font-size: 18px;
	background-color: #eaeaed;
	transition: all .15s linear;
}

.btn:hover{
	color: white;
	background-color: orange;
}

@media screen and (max-width: 480px){
	aside, section{
		float: none;
		width: auto;
	}

}




