html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;


}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);


html {
	background-image: url("../../backgrounds/squared_metal.png");
	background-attachment: fixed;
}

::selection {
	background-color: #2e1800;
	color: white;
}

header {
	position: fixed;
	width: 100%;
	background-color: #00111a;
	opacity: .85;
	padding: .4em .4em;
	text-align: center;
	border-bottom: 1px solid black;
	box-shadow: 0px 1px 3px black;
	z-index: 1;
}

h1, h2, h3, h4, h5, h6, a, footer, p{
	font-family: 'PT Sans Narrow', serif;
}

h1 {
	color: white;
}

h2 {
	font-size: 25px;
	color: #e6f7ff;
	padding: 10px;
	background-color: #1b4356;
	text-align: center;
	border-bottom: 1px solid #00121a;

}

.p {
	font-size: 20px;
	text-align: justify;
}

section {
	border: 2px solid #00121a;
	background-color: #e6f7ff;
	border-radius: 3px;
	margin: 10px 0px;


}
h1, h2 {

}

article {
	padding: 1em;
}

.main article{
	width: 92.5%;
	margin-bottom: 10px;

}

footer {
	clear: both;
}

ul {
	text-align: center;
}

li {
	padding-bottom: .4em;
}

#portrait {
	width: 200px;
	display: block;
	border: 2px solid black;
	border-radius: 10px;
	margin: 0px auto;

}

a {
	color: #033103;
	text-decoration: none;
	transition: all .15s linear;
}

li a {
	font-size: 18px;
}

a:hover {color: #8a0000;}

a:active {text-decoration: underline;}

nav li:hover ul { 
	visibility:visible;  /* This is key for displaying the menus */
	
	transition: all .025s linear;
	}

nav li:hover {
	background-color:#6a6a6a;
	transition: all .025s linear;
}

nav li:hover a {
	color: #e3f6fe;
}

nav { 
	display:block; 
	background-color: #eaeaed;
	border-bottom: 1px solid black;

}

nav li { 
	position:relative; 
	float:left; 
	list-style-type:none;
	height: 100%;
}

nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

nav ul li {
	padding-bottom: 0px;
	border-right: 1px solid black;
	width: 33%;
	height: 100%;
}

nav ul li li {
	border-bottom: 0px;
	width: 100%;
	height: 100%;
}

nav li a { 
	display:block; 
	padding:15px 20px; 
	height: 100%;
}

.cat {
	color: #033103;
	font-size: 20px;
	border-right: 0px solid black;
	height: 100%;
}

nav ul ul { 
	visibility:hidden; /* This is key for hiding the menu, until the hover pseudoselector above is activated */
	width:100%; 
	position:absolute; 
	left:0; 
	background:rgba(106,106,106, .95); 

	transition: all .025s linear;

}

nav ul ul li { float:none; }

nav ul ul a { 
	padding:5px 10px; 
	color: rgba(0,0,0,0);
	font-size:14px; 
}

nav ul ul a:hover { background-color:#555; }

.btn {
	display: inline-block;
	border: 1px solid #eaeaed;
	border-radius: 5px;
	color: #033103;;
	padding: .277777778em;
	margin-bottom: .5em;
	margin-right: .5em;
	text-decoration: none;
	font-size: 24px;
	background-color: #eaeaed;
	box-shadow: 1px 1px 3px black;
	transition: all .2s linear;

}

.btn:hover{
	color: #e3f6fe;
	background-color: #fd8800;
}

.btn:visited{

}

.btn:active {
	color: #8a0000;
	border: 1px solid #e6f7ff;
	background-color: #e19d4f;
	text-decoration: none;
	box-shadow: none;
}

p {
	font-size: 18px
}


@media screen and (max-width: 554px){

	header {
		font-size: 35px;
	}

	#container {
		padding-top: 70px
	}

	aside, .main {
		width: 360px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
}

@media (max-width: 770px) and (min-width:555px) {

	header {
		font-size: 35px;
	}

	#container {
		padding-top: 70px;
		width: 97%;
		margin-left: auto;
		margin-right: auto;

		padding-left: 1%;
		padding-right: 1%
	}

	aside {
		margin-left: auto;
		margin-right: auto;
		width: 550px;

	}

	#img_wrapper {
		width: 40%;
		float: left;
		margin-right: 10px
	}

	img {
		margin-left: auto;
		margin-right: auto;
	}

	aside section{
		width:55%;
		float: right;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.main {
		margin-left: auto;
		margin-right: auto;
		width:80%;

		margin-top: 5px;
		margin-bottom: 25px;
	}

}

@media screen and (min-width: 771px){

	header {
		font-size: 50px;
	}

	#container {
		min-width: 713px;
		max-width: 900px;
		width:80%;
		margin-left: auto;
		margin-right: auto;

		padding-top: 100px;
		padding-left: 1%;
		padding-right: 1%
	}

	aside {
		width:38%;

		float: left;
		margin-right: 1%:;
	}

	.main {
		width:60%;
		float: right;
		margin-top: 3px

	}

	nav ul li {
	border-bottom: 0px;
	}

	footer {
		clear: both;
	}

}

@media only screen and
and (min-device-width: 320px)
and (max-device-width: 480px) {

	header {
		font-size: 35px;
	}

	#container {
		padding-top: 70px
	}

	aside, .main {
		width: 360px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

}





