html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);



html {
	background-image: url("../../backgrounds/squared_metal.png");
	background-attachment: fixed;
}

::selection {
	background-color: #2e1800;
	color: white;
}

header {
	position: fixed;
	width: 100%;
	background-color: #00111a;
	opacity: .85;
	padding: .4em .4em;
	text-align: center;
	border-bottom: 1px solid black;
	box-shadow: 0px 1px 3px black;
}

h1, h2, h3, h4, h5, h6, a, footer{
	font-family: 'PT Sans Narrow', serif;
}

h1 {
	color: white;
}

h2 {
	font-size: 25px;
	padding: 10px;
	background-color: #1b4356;
	text-align: center;
	border-bottom: 1px solid #00121a;
	box-shadow: 1px 0px 5px black;
}

.p {
	font-size: 20px;
	font-family: 'PT Serif', serif;
	text-align: justify;
}

section {
	border: 2px solid #00121a;
	background-color: #e6f7ff;
	border-radius: 10px;
	margin: 10px 0px;
	box-shadow: 1px 1px 3px black;

}
h1, h2 {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

article {
	padding: 1em;
}

#main article{
	width: 85%;
	float: right;
	margin-bottom: 10px;

}

footer {
	clear: both;
}

ul {
	text-align: center;
}

li {
	padding-bottom: .4em;
}

#portrait {
	width: 200px;
	display: block;
	border: 1px solid black;
	border-radius: 100px;
	margin: 0px auto;
	box-shadow: 1px 1px 3px black;
}

a {
	color: #033103;
	text-decoration: none;
	transition: all .15s linear;
}

li a {
	font-size: 18px;
}

a:hover {color: #8a0000;}

a:visited {color: #00402B;}

a:active {text-decoration: underline;}

.btn {
	display: inline-block;
	border: 1px solid #eaeaed;
	border-radius: 5px;
	color: #033103;;
	padding: .277777778em;
	margin-bottom: .5em;
	text-decoration: none;
	font-size: 24px;
	background-color: #eaeaed;
	box-shadow: 1px 1px 3px black;
	transition: all .2s linear;
}

.btn:hover{
	color: #e3f6fe;
	background-color: #fd8800;
}

.btn:visited{

}

.btn:active {
	color: #8a0000;
	border: 1px solid #e6f7ff;
	background-color: #e19d4f;
	text-decoration: none;
	box-shadow: none;
}

p {
	font-size: 18px
}


@media screen and (max-width: 554px){

	header {
		font-size: 35px;
	}

	#container {
		padding-top: 70px
	}

	aside, #main {
		width: 360px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
}

@media (max-width: 770px) and (min-width:555px) {

	header {
		font-size: 35px;
	}

	#container {
		padding-top: 70px;
		width: 97%;
		margin-left: auto;
		margin-right: auto;

		padding-left: 1%;
		padding-right: 1%
	}


	aside {
		width: 100%;
	}

	#img_wrapper {
		width: 40%;
		float: left;
	
	}

	img {
		margin-left: auto;
		margin-right: auto;
	}

	aside section{
		width:59%;
		float: right;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	#main {
		float: right;
		width:59%;
		margin-top: 0px;
	}


}
	



@media screen and (min-width: 771px){

	header {
		font-size: 50px;
	}

	#container {
		width: 713px;
		margin-left: auto;
		margin-right: auto;

		padding-top: 100px;
		padding-left: 1%;
		padding-right: 1%
	}

	aside {
		width:38%;
		max-width: 273.6px;
		float: left;
		margin-right: 1%
	}



	#main {
		width:59%;
		max-width: 424.8px;
		float: right;
	}



	footer {
		clear: both;
	}

}







